<!DOCTYPE html>
<html lang="en">
  <head>
    <% var env, path = '', script = 'js/app.min.js';%>
    <% if (env === 'dev') { path = 'dist/'; script = 'dist/js/app.js'; } %>
    <meta charset="utf-8">
    <title>Rackspace Sign Up</title>
    <meta name="viewport" content="width=device-width, maximum-scale=1.0, minimum-scale=1.0, initial-scale=1.0">
    <link href="<%- path %>zoolander/css/derek.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="<%- path %>css/main.min.css">
  </head>
  <body>
      <% include partials/header %>
      <div class="rs-content-body">
        <div class="rs-content-container container">
          <h2 class="centered">Sign Up</h2>
          <div class="rs-signup-container">

            <form class="full-width rsForm">
              <div class="rsMultiStep-progress"></div>
              <div class="rsMultiStep">
                <div class="rsMultiStep-step" data-step-label="Email Boxes">
                  <div class="rsForm-fieldContainer">
                    <label class="rsForm-fieldLabel">Step 1 input</label>
                    <input class="rsForm-inputText" data-validate='{ "required": true }' type="text">
                  </div>
                  <div class="rsMultiStep-btnRow"></div>
                </div>
                <div class="rsMultiStep-step" data-step-label="Step 2">
                  <div class="rsForm-fieldContainer">
                    <label class="rsForm-fieldLabel">Step 2 input</label>
                    <input class="rsForm-inputText" type="text">
                  </div>
                  <div class="rsMultiStep-btnRow"></div>
                </div>
                <div class="rsMultiStep-step" data-step-label="Step 3">
                  <div class="rsForm-fieldContainer">
                    <label class="rsForm-fieldLabel">Step 3 input</label>
                    <input class="rsForm-inputText" type="text">
                  </div>
                  <div class="rsMultiStep-btnRow"></div>
                </div>
                <div class="rsMultiStep-step" data-step-label="Step 4">
                  <div class="rsForm-fieldContainer">
                    <label class="rsForm-fieldLabel">Step 4 input</label>
                    <input class="rsForm-inputText" type="text">
                  </div>
                <div class="rsMultiStep-btnRow"><button class="rsBtn">Submit</button></div>
                </div>
              </div>
            </form>

          </div>
        </div>
        <% include partials/footer %>
      </div>
      <script src="<%- path %>js/modules/jquery.min.js"></script>
      <script src="https://www.rackspace.com/themes/custom/rackspace/libraries/bootstrap-sass/assets/javascripts/bootstrap.js"></script>
      <script src="https://www.rackspace.com/themes/custom/rackspace/js/jquery-plugins/bootstrap-tabcollapse.js"></script>
      <script src="<%- path %>zoolander/js/global.js"></script>
      <script src="<%- path %>zoolander/js/global-components/mainnav/mainnav.js"></script>
      <script src="<%- path %>zoolander/js/global-components/footer/footer.js"></script>
      <script src="<%- script %>" charset="utf-8"></script>
      <script type="text/javascript">
        $('.rsMultiStep').multiStep({
          form: true,
          validate: true,
        });
      </script>
  </body>
</html>
