<!DOCTYPE html>
<html lang="en">
  <head>
    <% var env, path = '', script = 'js/app.min.js';%>
    <% if (env === 'dev') { path = 'dist/'; script = 'dist/js/app.js'; } %>
    <meta charset="utf-8">
    <title>Rackspace Sign Up</title>
    <meta name="viewport" content="width=device-width, maximum-scale=1.0, minimum-scale=1.0, initial-scale=1.0">
    <link href="<%- path %>zoolander/css/derek.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="<%- path %>css/main.min.css">
    <link rel="shortcut icon" href="<%- path %>images/favicon.ico">
    <link rel="icon" href="<%- path %>images/favicon.png" type="image/png">
  </head>
  <body>
      <% include partials/header %>
      <div class="rs-content-body">
        <div class="rs-content-container container">
          <h2 class="centered">Sign Up</h2>
          <div class="rs-signup-container">

            <form class="full-width rsForm">
              <div class="rsMultiStep-progress"></div>
              <div class="rsMultiStep">
                <div class="rsMultiStep-step" data-step-label="Choose Products">
                  <h3>Add Your Mailboxes</h3>
                  <div class="rsForm-row">
                    <div class="rsForm-col-6">
                      <div class="rsForm-fieldContainer">
                        <label class="rsForm-fieldLabel">Rackspace Email</label>
                        <span class="rsForm-inputHint">$2.00</span>
                        <input
                          class="rsForm-inputText"
                          name="rs-add-quantity"
                          data-cost="200"
                          data-validate='{ "min": 0, "max": 50 }'
                          data-product="email"
                          type="number"
                          value="0">
                      </div>
                      <div class="rsForm-fieldContainer">
                        <label class="rsForm-fieldLabel">Rackspace Email Plus</label>
                        <span class="rsForm-inputHint">$3.50</span>
                        <input
                          class="rsForm-inputText"
                          name="rs-add-quantity"
                          data-cost="350"
                          data-validate='{ "min": 0, "max": 50 }'
                          data-product="emailPlus"
                          type="number"
                          value="0">
                      </div>
                      <div class="rsForm-fieldContainer">
                        <label class="rsForm-fieldLabel">Microsoft Exchange</label>
                        <span class="rsForm-inputHint">$7.99</span>
                        <input
                          class="rsForm-inputText"
                          name="rs-add-quantity"
                          data-cost="799"
                          data-validate='{ "min": 0, "max": 50 }'
                          data-product="exchange"
                          type="number"
                          value="0">
                      </div>
                    </div>
                    <div class="rsForm-col-6"></div>
                  </div>
                  <div class="rsForm-global-errors rsMultiStep-validation-message"></div>
                  <div class="rsMultiStep-btnRow"></div>
                </div>
                <div class="rsMultiStep-step" data-step-label="Your Information">
                  <div class="rsForm-row text-center">
                    <img class="rsForm-loader" src="<%- path %>images/tail-spin.svg" alt="rs-loader" />
                  </div>
                  <div class="rsForm-submitStep">
                    <div class="rsForm-col-6">
                      <div class="rsForm-fieldContainer">
                        <label class="rsForm-fieldLabel rsForm-required">First Name</label>
                        <input class="rsForm-inputText" data-validate='{ "required": true }' type="text">
                      </div>
                      <div class="rsForm-fieldContainer">
                        <label class="rsForm-fieldLabel rsForm-required">Last Name</label>
                        <input class="rsForm-inputText" data-validate='{ "required": true }' type="text">
                      </div>
                      <div class="rsForm-fieldContainer">
                        <label class="rsForm-fieldLabel rsForm-required">Email</label>
                        <input class="rsForm-inputText" data-validate='{ "required": true, "type": "email" }' type="text">
                      </div>
                      <div class="rsForm-fieldContainer">
                        <label class="rsForm-fieldLabel rsForm-required">Password</label>
                        <input class="rsForm-inputText" data-validate='{ "required": true, "password": "initial" }' type="password">
                      </div>
                      <div class="rsForm-fieldContainer">
                        <label class="rsForm-fieldLabel rsForm-required">Confirm Password</label>
                        <input class="rsForm-inputText" data-validate='{ "required": true, "password": "match" }' type="password">
                      </div>
                    </div>
                    <div class="rsForm-col-6">
                      <div class="rsForm-fieldContainer">
                        <label class="rsForm-fieldLabel rsForm-required">Credit Card Number</label>
                        <input class="rsForm-inputText" data-inputmask="'mask': '9999 9999 9999 9999'" data-validate='{ "required": true, "type": "creditcard" }' type="text">
                      </div>
                      <div class="rsForm-row">
                        <div class="rsForm-col-9">
                          <div class="rsForm-fieldContainer">
                            <label class="rsForm-fieldLabel rsForm-required">Card Expiration</label>
                            <input class="rsForm-inputText" data-inputmask="'mask': '99 / 99'" placeholder="mm / yy" data-validate='{ "required": true, "type": "date" }' type="text">
                          </div>
                        </div>
                        <div class="rsForm-col-3">
                          <div class="rsForm-fieldContainer">
                            <label class="rsForm-fieldLabel rsForm-required">CVV</label>
                            <input class="rsForm-inputText" data-inputmask="'mask': '999'" data-validate='{ "required": true, "type": "cvv" }' type="text">
                          </div>
                        </div>
                      </div>
                      <div class="rsForm-fieldContainer">
                        <label class="rsForm-fieldLabel rsForm-required">Billing Address</label>
                        <input class="rsForm-inputText" data-validate='{ "required": true }' type="text">
                      </div>
                      <div class="rsForm-row">
                        <div class="rsForm-col-9">
                          <div class="rsForm-fieldContainer">
                            <label class="rsForm-fieldLabel rsForm-required">City</label>
                            <input class="rsForm-inputText" data-validate='{ "required": true }' type="text">
                          </div>
                        </div>
                        <div class="rsForm-col-3">
                          <div class="rsForm-fieldContainer">
                            <label class="rsForm-fieldLabel rsForm-required">State</label>
                            <input class="rsForm-inputText" data-inputmask="'mask': 'AA'" data-validate='{ "required": true }' type="text">
                          </div>
                        </div>
                      </div>
                      <div class="rsForm-row">
                        <div class="rsForm-col-6">
                          <div class="rsForm-fieldContainer">
                            <label class="rsForm-fieldLabel rsForm-required">Zip Code</label>
                            <input class="rsForm-inputText" data-inputmask="'mask': '99999'" data-validate='{ "required": true }' type="text">
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="rsForm-global-errors rsMultiStep-validation-message"></div>
                  <div class="rsMultiStep-btnRow"></div>
                </div>
                <div class="rsMultiStep-step" data-step-label="Confirmation">
                  <span class="rsForm-success-check"></span>
                  <div class="rsForm-row centered"><h3>Thank You for Your Purchase!</h3></div>
                  <div class="rsForm-summary">
                    <span class="rsForm-summary-title">Order Summary</span>
                    <div class="rsForm-summary-products"></div>
                    <div class="rsForm-summary-total">Total: <span id="summary-total"></span></div>
                  </div>
                </div>
              </div>
            </form>

            <div class="rsSignup-total">
              Boxes: <span class="rsSignup-boxes">0</span>
              <span class="rsSignup-total-divider"> | </span>
              Total: <span class="rsSignup-cost">$0.00</span>
            </div>

          </div>
        </div>
        <% include partials/footer %>
      </div>
      <script src="<%- path %>js/modules/jquery.min.js"></script>
      <script src="<%- path %>js/modules/jquery.inputmask.bundle.js"></script>
      <script src="https://www.rackspace.com/themes/custom/rackspace/libraries/bootstrap-sass/assets/javascripts/bootstrap.js"></script>
      <script src="https://www.rackspace.com/themes/custom/rackspace/js/jquery-plugins/bootstrap-tabcollapse.js"></script>
      <script src="<%- path %>zoolander/js/global.js"></script>
      <script src="<%- path %>zoolander/js/global-components/mainnav/mainnav.js"></script>
      <script src="<%- path %>zoolander/js/global-components/footer/footer.js"></script>
      <script src="<%- script %>" charset="utf-8"></script>
      <script type="text/javascript">
        $('.rsMultiStep').rsSignUp({
          form: true,
          validate: true,
        });
        $(":input").inputmask();
      </script>
  </body>
</html>
